<h1>Posts</h1>

<ul class="form">
  <li *ngFor="let post of followedUsersPosts">
    <p>Created by {{ post.creator_hash }} at {{ post.timeStamp }}</p>
    <p>{{ post.content }}</p>
    <button (click)="loadComments(post)">See Comments</button>
    <ul *ngIf="post.showComments == true">
      <li *ngFor="let comment of post.Comments">
        <p>Created by {{ comment.creatorHash }} at {{ comment.timeStamp }}</p>
        <p>{{ comment.content }}</p>
      </li>
    </ul>
  </li>
</ul>

<!--<a routerLink="posts" [class.activated]="currentUrl == '/posts'"
    >Go to posts</a
  >-->
